/target
**/*.rs.bk
.env
.env.local
data/registry/repos
data/repos
data/artifacts
data/backups
data/registry
web/.npm-cache
web/node_modules
web/dist
.DS_Store
*.log

# Packaging
release/
pkg-pertisk-gits/
pertisk-gits-linux-*
.buildx-cache/
pkg-pertisk-runner/
pertisk-runner-linux-*
pertisk-worker-linux-*
pertisk-worker-linux-amd64
release-test
.buildx-out-runner-arm64
postinstall.sh
preinstall.sh
preremove.sh
.buildx-out-gits-amd64/
